body {
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#header #navigation {
  height: 72px;
  background-color: #aaa;
}

#header #actions {
  height: 71px;
  background-color: #bbb;
}

#content #sidebar {
  width: 301px;
  background-color: #ccc;
}

#content #main {
  flex-grow: 1;
  background-color: #ddd;
  display: flex;
  align-items: stretch;
  background-color: #3e3e3e;
  color: #fff;
}

#content #main #messages {
  flex-grow: 1;
}

#content #main #messages ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  font-size: 16px;
}

#content #main #messages ul li {
  padding: 5px 10px;
  border-left: 5px solid #fff;
}

.branch {
  border: 3px solid;
  height: 100vh;
  width: 0px;
  position: relative;
  display: inline-block;
  margin-right: 32px;

  > .commit {
    border-radius: 100%;
    border: 10px solid;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -10px;
  }
}

#branches-container {
  padding: 32px;
}

canvas {
  display: block;
}
