body {
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#header #navigation {
  height: 72px;
  background-color: #aaa;
}

#header #actions {
  height: 71px;
  background-color: #bbb;
}

#content #sidebar {
  width: 301px;
  background-color: #ccc;
}

#content #main {
  flex-grow: 1;
  background-color: #ddd;
  display: flex;
  align-items: stretch;
  background-color: #3e3e3e;
  color: #fff;
}

#content #main #messages {
  flex-grow: 1;
}

#content #main #messages {
  list-style: none;
  padding: 0;
  margin: 13px 20px;
}

#content #main #messages .message {
  font-size: 14px;
}

#content #main #messages .author {
  font-size: 12px;
  color: #999;
}

#content #main #messages li {
  margin: 4px 0;
  height: 26px;
  border-left: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.branch {
  border: 3px solid;
  height: 100vh;
  width: 0px;
  position: relative;
  display: inline-block;
  margin-right: 32px;

  > .commit {
    border-radius: 100%;
    border: 10px solid;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -10px;
  }
}

#branches-container {
  padding: 32px;
}

canvas {
  display: block;
}

#actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-right: 230px; */
}

.button {
  position: relative;
  width: 28px;
  height: 28px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 90px;
  transition: background-color 0.5s;
  background-size: contain;
  background: transparent;
}

.button span {
  display: block;
  text-align: center;
  margin-top: 28px;
  text-indent: -5px;
  color: #3e3e3e;
  transition: color 0.3s;
}

/* Individual button styles */
#pushButton {
  background-image: url(./assets/push-button.svg);
}

#pullButton {
  background-image: url(./assets/pull-button.svg);
}

#mergeButton {
  background-image: url(./assets/merge-button.svg);
}

#undoButton {
  background-image: url(./assets/undo-button.svg);
}

#redoButton {
  background-image: url(./assets/redo-button.svg);
}

#branchButton {
  background-image: url(./assets/branch-button.svg);
}

#stashButton {
  background-image: url(./assets/stash-button.svg);
}

#popButton {
  background-image: url(./assets/pop-button.svg);
}
